.newsletter{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px darkslategray;
    margin: 0 1%;
    padding: 1%;
}

.newsletter-title{
    font-size: 75%;
    margin: 1%;
    padding: 0;
}

.newsletter-subtitle{
    font-size: 250%;
    margin: 0;
}

