.product{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 1%;
    box-shadow: 1px 1px 5px darkslategray;
}

.product-container-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.product-container-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 47%;
}

.product-container-right{
    padding: 0 2%;
}

.product-image-primary{
    width: 100%;
}

.product-image-secundary{
    width: 30%;
}

hr{
    width: 30%;
}

.product-description{
    text-align: center;
}

.product-button{
    width: 15%;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.product-button:hover{
    width: 15%;
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: black;
}