.header{
    /* background-color: #0f0f0f; */
    background-image: url('../../assets/header.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    margin: 0;
    padding: 0;
}

.header{
    margin: 0;
    padding: 0;
}

.header-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 3px darkslategray;
    text-align: center;
    margin-top: 100px;
}