.navbar{
    /* background-color: aqua; */
    /* border: 1px solid black; */
    /* box-shadow: 1px 1px 3px white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.navbar-link {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

.navbar-container-menu{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar-container-acount{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo-rain{
    color: white;
    width: 50%;
    margin: 0 auto;
}