.navbar{
    /* background-color: aqua; */
    /* border: 1px solid black; */
    /* box-shadow: 1px 1px 3px white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
}

.navbar-logo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 42px;
    padding-left: 20px;
    margin: 20px;
}

.navbar-link {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 3px darkslategray;
    padding: 0 20px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.navbar-container-logo,
.navbar-container-menu,
.navbar-container-acount{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar-container-logo,
.navbar-container-acount{
    width: 20%;
}

.navbar-container-acount{
    justify-content: flex-end;
    align-items: start;
}

.logo-rain{
    color: white;
    width: 50%;
    margin: 0 auto;
}